[submodule "src/subCODE"]
	path = src/subCODE
	url = git@github.com:RafikFarhad/subCODE.git
[submodule "src/liveCODE"]
	path = src/liveCODE
	url = git@github.com:RafikFarhad/liveCODE.git
[submodule "src/masterCODE"]
	path = src/masterCODE
	url = git@github.com:RafikFarhad/masterCODE.git
[submodule "src/doCODE"]
	path = src/doCODE
	url = git@github.com:RafikFarhad/doCODE.git
[submodule "src/judgeMod"]
	path = src/judgeMod
	url = git@github.com:talatmursalin/judgeMod.git
